In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.datasets import make_regression    
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_squared_log_error, mean_squared_error

In [2]:
# Generate the dataset
X, y = make_regression(n_samples=100, n_features=2, n_informative=2, n_targets=1, noise=10, random_state=42)

# Create a DataFrame
df = pd.DataFrame(X, columns=['feature1', 'feature2'])  # Create DataFrame from X
df['target'] = y  # Add y as a column

In [3]:
df.shape

(100, 3)

In [4]:
df.head()

   feature1  feature2      target
0 -1.191303  0.656554  -49.265023
1  0.058209 -1.142970  -85.162387
2  0.586857  2.190456  211.225658
3  0.473238 -0.072829   29.196562
4  0.738467  0.171368   84.348096

In [6]:
#for more details visit google colab
# https://colab.research.google.com/drive/1_OVwmqU91yVAWmKNROcrL8EA78R49Rmq?usp=sharing