## 1. Lists

- What are Lists?
- Lists Vs Arrays
- Characterstics of a List
- How to create a list
- Access items from a List
- Editing items in a List
- Deleting items from a List
- Operations on Lists
- Functions on Lists

In [2]:
L = [1,2,3]
print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
L1 = [1,2,3,4,5,6,7,8,9,10]
print(id(L1))
print(id(L1[0]))
print(id(1))

2519483021568
140703281906600
140703281906632
140703281906664
2519483012864
140703281906600
140703281906600

## Characterstics of a List

- Ordered
- Changeble/Mutable
- Hetrogeneous
- Can have duplicates
- are dynamic
- can be nested
- items can be accessed 
- can contain any kind of objects in python

In [4]:
L = [1,2,3,2]
L = list(set(L))
print(L)
L1 = [3,2,1]

L == L1

[1, 2, 3]

False

## Creating a List

In [5]:
print([])
print([1,2,3,4,5])
print([1,2,3,[4,5,6]])
print([[[1,2],[3,4]],[[5,6],[7,8]]])
print([1,True,5.6,5+6j,'Hello'])
print(list('Hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5, 6]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['H', 'e', 'l', 'l', 'o']

## Accessing Items from a List

In [9]:
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
print(L[1][0][1])
print(L[0][1][1])
print(L[0][0][1])
print(L[1][0][0])

L = [1,2,3,4,5,6]
print(L[::-1])

6
4
2
5
[6, 5, 4, 3, 2, 1]

## Adding Items to a List

In [ ]:
L = [1,2,3,4]
L.append(5)
L.append(True)
L.append("milo")
print(L) # [1, 2, 3, 4, 5, True, 'milo']

[1, 2, 3, 4, 5, True, 'milo']

In [11]:
L = [1,2,3,4]
L.extend([5,6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
L = [1,2,3,4]
L.extend('jupyter')
print(L)

[1, 2, 3, 4, 'j', 'u', 'p', 'y', 't', 'e', 'r']

In [13]:
L = [1,2,3,4]
L.insert(2,5)
print(L)

[1, 2, 5, 3, 4]

# Editing items in a List

In [16]:
L = [1,2,3,4,5]
L[-1] = 6
L[1:5] = ['first','second','third','forth']
print(L)

[1, 'first', 'second', 'third', 'forth']

## Deleting items from a List

In [17]:
L = [1,2,3,4,5]
del L[-1]
del L[1:3]
print(L)

[1, 4]

In [18]:
L = [1,2,3,4,5]
L.pop()
print(L)

[1, 2, 3, 4]

In [19]:
L = [1,2,3,4,5]
L.clear()
print(L)

[]

## Operations on Lists

- Arithmetic
- Membership
- Loop

In [20]:
L1 = [1,2,3,3,4,5]
L2 = [3,4,4,5,6,7,7]
print(L1+L2)

[1, 2, 3, 3, 4, 5, 3, 4, 4, 5, 6, 7, 7]

In [21]:
print(L1*3)

[1, 2, 3, 3, 4, 5, 1, 2, 3, 3, 4, 5, 1, 2, 3, 3, 4, 5]

In [22]:
L1 = [1,2,3,5,4,8]
L2 = [1,2,3,4,[5,6]]
print(5 not in L1)
print([5,6] in L2)

False
True

In [26]:
L1 = [1,2,3,4,5,6]
L2 = [2,3,1,0,6,7]
L3 = [[[[1,3,4,True]],['radis',5,6]],[1,2,3,False]],[7,8,9,1]
for i in L3:
    print(i)

[[[[1, 3, 4, True]], ['radis', 5, 6]], [1, 2, 3, False]]
[7, 8, 9, 1]

## List Functions

In [27]:
L = [2,1,3,4,5,0]
print(len(L))
print(min(L))
print(max(L))   
print(sum(L))
print(sum(L)/len(L))
print(sorted(L))
print(sorted(L,reverse=True))

6
0
5
15
2.5
[0, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1, 0]

In [30]:
L = [11,2,4,5,0]
L.count(1)
L.count(41)

0

In [32]:
L = [2,1,2,4,5,7,8]
L.reverse()
print(L)

[8, 7, 5, 4, 2, 1, 2]

In [33]:
L = [2,1,2,3,4,5,8]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 1, 2, 3, 4, 5, 8]
[1, 2, 2, 3, 4, 5, 8]
[2, 1, 2, 3, 4, 5, 8]
[1, 2, 2, 3, 4, 5, 8]

In [34]:
import copy

# Original list with nested list
original_list = [1, 2, [3, 4]]

# Shallow copy using copy() method
shallow_copy = copy.copy(original_list)

# Modify the nested list
shallow_copy[2][0] = 99

print("Original List:", original_list)   # Output: [1, 2, [99, 4]]
print("Shallow Copy:", shallow_copy)     # Output: [1, 2, [99, 4]]

Original List: [1, 2, [99, 4]]
Shallow Copy: [1, 2, [99, 4]]

In [35]:
# Deep copy using deepcopy()
deep_copy = copy.deepcopy(original_list)

# Modify the nested list
deep_copy[2][0] = 42

print("Original List:", original_list)   # Output: [1, 2, [99, 4]]
print("Deep Copy:", deep_copy)           # Output: [1, 2, [42, 4]]

Original List: [1, 2, [99, 4]]
Deep Copy: [1, 2, [42, 4]]

In [36]:
import copy

original = [1, 2, [3, 4]]

# Shallow Copy
shallow_copy = copy.copy(original)
shallow_copy[2][0] = 99  # Modify nested list

# Deep Copy
deep_copy = copy.deepcopy(original)
deep_copy[2][0] = 42  # Modify nested list

print("Original:", original)       # Output: [1, 2, [99, 4]]
print("Shallow Copy:", shallow_copy)  # Output: [1, 2, [99, 4]]
print("Deep Copy:", deep_copy)     # Output: [1, 2, [42, 4]]

Original: [1, 2, [99, 4]]
Shallow Copy: [1, 2, [99, 4]]
Deep Copy: [1, 2, [42, 4]]

## List Comprehension

List Comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]![image.png]()

Advantages of List Comprehension
- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

In [37]:
L = []
for i in range(1,11):
    L.append(i * i)
print(L)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
L = [ i*11 for i in range(1,11)]
print(L)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 110]

In [41]:
v = [2,3,4,6,7,8]
s = -9
[s*i for i in v]

[-18, -27, -36, -54, -63, -72]

In [42]:
[ i for i in range(1,51) if i % 2 ==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [43]:
languages = ['java','php','js','go','ruby','scala','dart','py']

[language for language in languages if language.startswith('j')]

['java', 'js']

In [45]:
basket = ['apples','guava','cherry','banaba']
bigbasket = ['apples','kiwi','black almond','grapes','banaba','custard apple']

[fruits for fruits in bigbasket if fruits in basket if fruits.startswith('a')]

['apples']