# nested sum.

1/1! + 2/2! + 3/3! + ...

In [ ]:
n = int(input("enter a number"))
result = 0
fact = 1
for i in range(1,n+1):
    fact = fact*n
    result = result + i/fact
print(result)

0.19444279169393702

nested loops

In [2]:
for i in range(1,5):
    for j in range(1, 5):
        for k in range(1, 5):
            if i != j and j != k and i != k:
                print(i, j, k)

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2

In [7]:
rows = int(input("Enter the number of rows: "))
for i in range(rows):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [10]:
rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print( j, end=" ")
    for k in range(i-1,0,-1):
        print(k,end=" ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1

# loop contol statement

# break, continue, pass

In [11]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [12]:
for i in range(0,10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [14]:
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))

for i in range(lower , upper+1):
    for j in range(2, i):
            if i%j==0:
                break
    else:
            print(i)

11
13
17
19
23
29
31
37
41
43
47
53
59

In [15]:
for i in range(1,10):
    pass

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

creating strings

In [16]:
s = "hello"
s = 'hello'
s = """hello"""
s ='''hello'''
s = str("heelo")
print(s)

heelo

In [1]:
"it's a rainig outside"
"it\'s a rainig outside"

"it's a rainig outside"

In [18]:
s = 'hello cutie'
print(s[4])

o

In [19]:
s = 'hello cutie'
print(s[-4])

u

In [20]:
s = 'hello cutie'
print(s[::-1])

eituc olleh

In [3]:
s = 'hello cutie'
print(s[-1:-6:-1])

eituc

In [22]:
s = 'hello cutie'
print(s[41])

IndexError: string index out of range

In [23]:
s = 'hello cutie'
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [24]:
s = 'hello cutie'
del s
print(s)

NameError: name 's' is not defined

In [25]:
s = 'hello cutie'
del s[4]

TypeError: 'str' object doesn't support item deletion

In [26]:
print('delhi' + 'mumbai')

delhimumbai

In [27]:
print('delhi' * 3)

delhidelhidelhi

In [28]:
'delhi' in 'delhi mumbai'

True

In [29]:
'delhi' != 'mumbai'

True

In [30]:
'delhi' != 'delhi'

False

In [31]:
"aurangabad" > "mumbai"

False

In [32]:
'aurangabad' > "Aurangabad"

True

In [33]:
'aurangabad' < "Aurangabad"

False

In [34]:
'aurangabad' and 'bikaner'

'bikaner'

In [ ]:
result = 'aurangabad' or 'bikaner'
print(result)

aurangabad

In [4]:
result = '' or 'bikaner'  # '' is falsy
print(result)  # bikaner

bikaner

In [36]:
''  and 'bikaner'

''

In [37]:
'' or 'bikaner'

'bikaner'

In [38]:
not 'hello'

False

In [39]:
for i in 'bikaner':
    print(i)

b
i
k
a
n
e
r

In [40]:
len('bikaner')

7

In [41]:
max('bikaner')

'r'

In [42]:
min('bikaner')

'a'

In [43]:
sorted('bikaner')

['a', 'b', 'e', 'i', 'k', 'n', 'r']

In [44]:
sorted('bikaner' , reverse = True)

['r', 'n', 'k', 'i', 'e', 'b', 'a']

In [45]:
b = 'bikaner'
b.capitalize()

'Bikaner'

In [46]:
b.capitalize()

'Bikaner'

In [47]:
b.upper()

'BIKANER'

In [49]:
b.count('i')

1

In [50]:
b.find('i')

1

In [51]:
b.index('i')

1

In [52]:
b.index('q')

ValueError: substring not found

In [53]:
'hello welcome from jupyter notebook'.split()

['hello', 'welcome', 'from', 'jupyter', 'notebook']

In [66]:
''.join(["hello ", "welcome ", "from ", "jupyter ", "notebook"])

'hello welcome from jupyter notebook'

In [54]:
'hello welcome from jupyter notebook'.endswith('notebook')

True

In [55]:
'hello welcome from jupyter notebook'.startswith('hello')

True

In [56]:
version = 3.12

'hello welcome from jupyter notebook {}'.format(version)

'hello welcome from jupyter notebook 3.12'

In [57]:
'hello welcome from jupyter notebook'.isalnum()

False

In [6]:
'hello123'.isalnum()        # True
'hello 123'.isalnum()       # False (space)
'hello_welcome'.isalnum()   # False (underscore is not alphanumeric)
'hello'.isalpha()          # True

True

In [5]:
'hellowelcomefromjupyternotebook'.isalpha()  # â†’ True

True

In [58]:
'hello welcome from jupyter notebook'.isalpha()

False

In [59]:
'hello welcome from jupyter notebook'.isdigit()

False

In [61]:
'hello welcome from jupyter notebook'.isidentifier()

False

In [67]:
"hello welcome from jupyter notebook".replace('hello', 'hi')

'hi welcome from jupyter notebook'

In [69]:
"hello welcome from jupyter notebook            ".strip()

'hello welcome from jupyter notebook'

In [70]:
"hello welcome from jupyter notebook".replace('note',"graph")

'hello welcome from jupyter graphbook'

In [71]:
s = input('enter the string')
counter = 0
for i in s:
    counter += 1
print('lenght of string is ', counter)

lenght of string is  38

In [74]:
st = input('enter the email')
pos = st.index('@')
print(st[:pos])

bhautikvekariya

In [75]:
string = input('enter the string')
term = input('enter the term which are you find')

counter = 0
for i in string:
    if i == term:
        counter += 1
print(counter)

1

In [78]:
stru = input("enter a string")
term = input('what would like to remove')

result = ''
for i in stru:
    if i != term:
        result += i
print(result)

hello worl

In [79]:
s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
    if s[i] != s[len(s)-i-1]:
        flag = False
        print('not a palindrome string')
        break
    
    if flag:
        print('palindrome string')

not a palindrome string

In [81]:
s = input('enter the string')
l = []
temp = ' '
for i in s:
    if i != ' ':
        temp = temp + i
    else:
        l.append(temp)
        temp = ' '
l.append(temp)
print(l)

[' hello', ' how', ' are', ' you']

In [7]:
s = input('enter the string')   
l = []
for i in s.split():
    l.append(i[0].upper() + i[1:].lower())
    
print(' '.join(l))

Hello Buio