### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [1]:
def calculate_in_hand_salary(ctc):
    hra = 0.10 * ctc
    da = 0.05 * ctc
    pf = 0.03 * ctc
    taxable_income = ctc - (hra + da + pf)
    
    if ctc < 5:
        tax = 0
    elif 5 <= ctc < 10:
        tax = 0.10 * taxable_income
    elif 10 <= ctc < 20:
        tax = 0.20 * taxable_income
    else:
        tax = 0.30 * taxable_income
    
    in_hand_salary = taxable_income - tax
    monthly_salary = in_hand_salary / 12
    return monthly_salary

# Example usage:
ctc = 12  # in lakhs
monthly_salary = calculate_in_hand_salary(ctc)
print(f"In-hand monthly salary: {monthly_salary} lakhs")

In-hand monthly salary: 0.656 lakhs

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [16]:
angle1 = int(input("Enter the first angle: "))
angle2 = int(input("Enter the second angle: "))
angle3 = int(input("Enter the third angle: "))
if angle1 + angle2 + angle3 == 180:
    print("It is a valid triangle")
else:
    print("It is not a valid triangle")

It is a valid triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [17]:
selling_price = float(input("Enter the selling price: "))
cost_price = float(input("Enter the cost price: "))
if selling_price > cost_price:
    print("Profit", selling_price - cost_price)
elif selling_price < cost_price:
    print("Loss", cost_price - selling_price)
else:
    print("No profit no loss")

Profit 2497.432

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
user_input = int(input("""1.cm to ft
                       2.km to miles
                       3.usd to inr
                       4.exit"""))
if user_input == 1:
    cm = int(input("enter cm"))
    ft = cm/30.48
    print(ft)
elif user_input == 2:
    km = int(input("enter km"))
    miles = km/1.609
    print(miles)
elif user_input == 3:
    usd = int(input("enter usd"))
    inr = usd*87.12
    print(inr)
elif user_input == 4:
    exit()

7350.0

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [19]:
first_term = 0
second_term = 1
n = int(input("Enter the number of terms: "))
for i in range(n):
    print(first_term)
    next_term = first_term + second_term
    first_term = second_term
    second_term = next_term

0
1
1
2
3
5
8
13
21

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [20]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)
n = int(input("Enter the number: "))
print(f"Factorial of {n} is {factorial(n)}")

Factorial of 7 is 5040

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [21]:

def reverse_number(number):
    reverse = 0
    while number > 0:
        remainder = number % 10
        reverse = reverse * 10 + remainder
        number = number // 10
    return reverse

number = int(input("Enter the number: "))
print(f"Reverse of {number} is {reverse_number(number)}")

Reverse of 897458 is 854798

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [36]:
number = int(input("Enter the number: "))
total = 0

# Iterate through numbers from 1 to N
i = 1
while i <= number:
    if i % 5 != 0:  # Skip numbers divisible by 5
        if total + i > 300:  # Stop if sum exceeds 300
            break
        total += i
    i += 1

print(total)

276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.'

In [39]:
sum = 0
average = 0
while True:
    number = int(input("Enter the number: "))
    if number != 0:
        sum += number
        average = sum / number
    else:
        print("entered number is a zero")
        break
print(f"sum and average is {sum} and {average}")

entered number is a zero
sum and average is 55 and 5.5

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [40]:
# List to store valid numbers
result = []

# Iterate through numbers from 1000 to 3000
for num in range(1000, 3001):
    num_str = str(num)  # Convert number to string
    if (int(num_str[0]) % 2 == 0 and int(num_str[1]) % 2 == 0 and 
        int(num_str[2]) % 2 == 0 and int(num_str[3]) % 2 == 0):  
        result.append(str(num))  # Store valid numbers as strings

# Print all numbers in a space-separated format
print(" ".join(result))

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888