In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.datasets import make_regression    
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, mean_squared_log_error, mean_squared_error

In [4]:
# Generate the dataset
X, y = make_regression(n_samples=100, n_features=2, n_informative=2, n_targets=1, noise=10, random_state=48)

# Create a DataFrame
df = pd.DataFrame(X, columns=['feature1', 'feature2'])  # Create DataFrame from X
df['target'] = y  # Add y as a column

In [5]:
df.shape

(100, 3)

In [6]:
df.head()

   feature1  feature2      target
0 -0.993631 -1.063401 -125.788006
1  0.786438 -0.161451   23.188586
2  0.419451 -0.002650   23.776907
3  0.861966 -0.750759   11.905002
4  0.641637  0.176219   46.675774

In [6]:
#for more details visit google colab
# https://colab.research.google.com/drive/1_OVwmqU91yVAWmKNROcrL8EA78R49Rmq?usp=sharing