## timedelta object
### represents a duration,the difference two dates or times

In [3]:
# create using timestamp objects
import pandas as pd
t1 = pd.Timestamp('2017-01-01')
t2 = pd.Timestamp('2017-01-02')
t2-t1

Timedelta('1 days 00:00:00')

In [5]:
# standalone creation
pd.Timedelta(days=2,hours=10,minutes=35)

Timedelta('2 days 10:35:00')

In [6]:
#arithmatic
pd.Timestamp('6th jan 2023') + pd.Timedelta('2 days 3 hours')

Timestamp('2023-01-08 03:00:00')

In [8]:
pd.date_range(start='2020-01-01', end='2020-01-10', freq='D') + pd.Timedelta(days=2,hours=10,minutes=27)

DatetimeIndex(['2020-01-03 10:27:00', '2020-01-04 10:27:00',
               '2020-01-05 10:27:00', '2020-01-06 10:27:00',
               '2020-01-07 10:27:00', '2020-01-08 10:27:00',
               '2020-01-09 10:27:00', '2020-01-10 10:27:00',
               '2020-01-11 10:27:00', '2020-01-12 10:27:00'],
              dtype='datetime64[ns]', freq='D')

In [28]:
# real life example
df = pd.read_csv('amazon_delivery.csv')
df.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,Sunny,High,motorcycle,Urban,120,Clothing
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43739 entries, 0 to 43738
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         43739 non-null  object
 1   Agent_Age        43739 non-null  int64
 2   Agent_Rating     43685 non-null  float64
 3   Store_Latitude   43739 non-null  float64
 4   Store_Longitude  43739 non-null  float64
 5   Drop_Latitude    43739 non-null  float64
 6   Drop_Longitude   43739 non-null  float64
 7   Order_Date       43739 non-null  object
 8   Order_Time       43739 non-null  object
 9   Pickup_Time      43739 non-null  object
 10  Weather          43648 non-null  object
 11  Traffic          43739 non-null  object
 12  Vehicle          43739 non-null  object
 13  Area             43739 non-null  object
 14  Delivery_Time    43739 non-null  int64
 15  Category         43739 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 5.3+ MB

In [41]:
df.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category,Pickup_Delay
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,2025-03-18 11:30:00,2025-03-18 11:45:00,Sunny,High,motorcycle,Urban,120,Clothing,0 days 00:15:00
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,2025-03-18 19:45:00,2025-03-18 19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics,0 days 00:05:00
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,2025-03-18 08:30:00,2025-03-18 08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports,0 days 00:15:00
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,2025-03-18 18:00:00,2025-03-18 18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics,0 days 00:10:00
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,2025-03-18 13:30:00,2025-03-18 13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys,0 days 00:15:00

In [30]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43739 entries, 0 to 43738
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         43739 non-null  object
 1   Agent_Age        43739 non-null  int64
 2   Agent_Rating     43685 non-null  float64
 3   Store_Latitude   43739 non-null  float64
 4   Store_Longitude  43739 non-null  float64
 5   Drop_Latitude    43739 non-null  float64
 6   Drop_Longitude   43739 non-null  float64
 7   Order_Date       43739 non-null  datetime64[ns]
 8   Order_Time       43648 non-null  datetime64[ns]
 9   Pickup_Time      43739 non-null  datetime64[ns]
 10  Weather          43648 non-null  object
 11  Traffic          43739 non-null  object
 12  Vehicle          43739 non-null  object
 13  Area             43739 non-null  object
 14  Delivery_Time    43739 non-null  int64
 15  Category         43739 non-null  object
dtypes: datetime64[ns](3), float64(5), int64(2), object(6)
memory usage: 5.3+ MB

In [32]:
df['Order_Time'] = pd.to_datetime(df['Order_Time'],errors='coerce')

C:\Users\bhaut\AppData\Local\Temp\ipykernel_17224\3590184363.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order_Time'] = pd.to_datetime(df['Order_Time'],errors='coerce')

In [33]:
df['Pickup_Time'] = pd.to_datetime(df['Pickup_Time'])

C:\Users\bhaut\AppData\Local\Temp\ipykernel_17224\129968673.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Pickup_Time'] = pd.to_datetime(df['Pickup_Time'])

In [42]:
df['Pickup_Delay'] = df['Pickup_Time'] - df['Order_Time']
df['Pickup_Delay'].mean()

Timedelta('-1 days +23:42:40.474706745')

## time series
#### a time series is a data set that tracks a sample over time.in particular,a time series allows one to see what factors influence certain variables from period to period. time series analysis can be useful can be useful to see how w given asset,security,or economic variable changes over time.
- finnancial data (company stocks)
- natural data (rainfall measurment)
- event data (covid)
- medical data (heart rate monitoring)
#### types of operation done on time series
- time series analysis
- time series forecasting